@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@using CV_project.Models;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEEN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/css/layout-style.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <!--<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WEEN</a>-->
                <img id="weenlogo" src="/media/WEEN LOGO.svg" width="100" height="60" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="mynav_navbar">

                    @{ InfoViewModel infoSession = new InfoViewModel();
                        if (Accessor.HttpContext.Session.GetString("Usersession") != null)
                            infoSession = JsonConvert.DeserializeObject<InfoViewModel>(Accessor.HttpContext.Session.GetString("Usersession"));

                        if (infoSession.AccountType == 2)
                        {   
                            <a href="@Url.Action("CreateJob", "Company")">CREATE JOB</a>
                            <a href="@Url.Action("ViewCV", "Company")">PROFILE MATCHING</a>
                        }
                        else
                        {<a href="@Url.Action("ViewCompany", "Home")">PROFILE MATCHING</a>
                        }
                    }
                    <a href="@Url.Action("Headhunt", "Home")">HEADHUNT</a>
                    <a href="@Url.Action("viewevent", "Home")">EVENT</a>
                    <div class="mynav_dropdown">
                        <img id="avt" src="https://images.unsplash.com/photo-1561948955-570b270e7c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=601&q=80" />
                        <div class="mynav_dropdown-content">
                            <a href="#">View Profile</a>
                            <a href="#">Edit Profile</a>
                            @*<a href="@Url.Action("CreateJob", "Company")">Create Job</a>*@
                            @{
                                if (Accessor.HttpContext.Session.GetString("Usersession") != null)
                                {<a href="@Url.Action("Logout", "Home")">Log out</a>
                                }
                                else
                                {<a href="@Url.Action("SignIn", "Home")">SignIn</a>
                                }
                            }
                        </div>
                    </div>
                    <div>
                        @if (Accessor.HttpContext.Session.GetString("Usersession") != null)
                        {
                            InfoViewModel infoSS = new InfoViewModel();
                            infoSS = JsonConvert.DeserializeObject<InfoViewModel>(Accessor.HttpContext.Session.GetString("Usersession"));
                            <p>@infoSS.FullName</p>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


</body>
</html>
